*{
    padding: 0;
    margin: 0;
}

.supper-box{
    margin: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 50px;
}
.box{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    
    align-items: center;
}

.img1{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 50px;

    img{
        width: 400px;
        height: 360px;
        display: flex;
        align-items: center;;
    }
}
.img2{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 50px;

    img{
        width: 400px;
        height: 300px;
        display: flex;
        align-items: center;;
    }
}

@media screen and (max-width: 1200px){
    .supper-box{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 700px){
    .supper-box{
        grid-template-columns: auto auto;
    }
}