*{
    padding: 0px;
    margin: 0px;

    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}



body{
    background-color: aliceblue;
}

.header{
    background-color:rgba(249, 250, 251, 0.945);
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    align-items: center;
    padding-left: 140px;
    box-shadow: 0px 0px 10px 0px lightgrey;

    .logo{
        font-weight: 800;
        font-size: x-large;
        padding: 25px;
        #dot{
            color: rgb(69, 69, 253);
        }
    }

    .items{
        padding-left: 390px;
        display: flex;

        .menu-items{
            height: 40px;
            font-weight: 600;
            font-size: medium;
            color: rgb(160, 114, 100);
            margin: 2px;
            padding: 5px 15px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            transition: 0.4s;
        }
        .menu-items:hover{
            background-color: rgb(229, 234, 253);
            color: black;
            cursor: pointer;
            transition: 0.3s;
        }

        #home{
            background-color: rgb(229, 234, 253);
            color: black;
        }
        #get-start{
            color: white;
            background-color: rgb(73, 76, 255);
        }
        #get-start:hover{
            transform: translatey(-3px);
            transition: 0.3s;
            box-shadow: 0px 0px 10px 0px rgba(139, 141, 246, 0.849);;
        }
    }
}

.home1{
    padding: 90px 0px 0px 0px;
    height: 86vh;
    background-color: rgb(234, 237, 252);
    display: flex;
    

    .home-left{
        width: 590px;
        margin: 30px 0px 100px 160px;
        padding: 10px;

        .tag-line{
            padding: 20px 15px;
            text-transform: uppercase;
            font-size: smaller;
            font-weight: 700;
            color: rgb(58, 58, 255);
        }

        #digital-product{
            color: rgb(69, 69, 253);
        }
        .para{
            padding: 25px 0px 20px 0px;
            color: rgb(87, 87, 87);
            font-size: larger;
        }
        .btn{
            padding: 0px;
            display: flex;
            gap: 15px;
            #start{
                background-color: rgb(73, 76, 255);
                border: 0px solid #000;
                border-radius: 10px;
                font-size: medium;
                font-weight: 600;
                color: white;
                width: 215px;
                height: 60px;
                transition: 0.3s;
            }
            #start:hover{
                transform: translatey(-3px);
                transition: 0.3s;
                box-shadow: 0px 5px 5px 0px  rgba(120, 122, 255, 0.881);
            }
            #explore{
                background-color: white;
                border: 1.5px solid rgb(229, 229, 229);
                border-radius: 10px;
                font-size: medium;
                font-weight: 600;
                width: 215px;
                height: 60px;
                transition: 0.3s;
            }
            #explore:hover{
                transform: translatey(-3px);
                transition: 0.3s;
                box-shadow: 0px 5px 5px 0px  rgba(194, 194, 194, 0.881);
            }
        }
        
    }
    #review{
        display: flex;
        gap: 20px;
    
        #written{
            margin: 20px 5px;
        }
        #rating{
            font-size: small;
            font-weight: 500;
            color: black;
        }
        #client-review{
            font-size: small;
            color: gray;
        }
    }

    .home-right{
        display: flex;
        align-items: center; 
        width: 600px;
        border: 0px solid black;
        margin: 100px;
        padding: 10px;
    }
    #top{
        border: 1px solid red;
    }
    #big-center{
        height: 350px;
        width: 470px;
        display: flex;
        margin: 40px;   
        padding: 20px;
        background-color: white;
        border: 0px solid;
        border-radius: 20px;
        box-shadow: 0px 0px 40px 0px rgba(208, 208, 208, 0.921);
        transition: 0.5s;
        #live{
            height: 30px;
            width: 50px;
            text-align: center;
            margin-left: 370px;
            color: rgb(46, 46, 247);
            font-size: small;
            font-weight: 500;
            background-color: rgba(124, 160, 251, 0.175);
            border: 0px solid black;
            border-radius: 20px;
            padding: 5px;
        }
        #progress-bar1{
            height: 10px;
            width: 60px;
            border: 1px solid black;
            background-color:  rgba(124, 160, 251, 0.175);;
        margin-bottom: 10px;
        }
    }
    #big-center:hover{
        transform: translatey(-5px);
        transition: 0.4s;
        box-shadow: 0px 5px 50px 0px  rgba(194, 194, 194, 0.881);
    }
    #bottom{
        border: 1px solid purple;
    }
}

.home-partition1{
    height: 105px;

    .partition1-heading{
        color: rgb(126, 126, 126);
        text-align: center;
        text-transform: uppercase;
        font-size: medium;
        font-weight: 600;
        margin: 25px;
    }
    #products{
        display: flex;
        justify-content: space-evenly;
        color: rgb(184, 184, 184);
        font-size: larger;
        font-weight: 800;
        margin: 0px 180px;

        #shapes{
            height: 35px;
            width: 170px;
            transition: 0.3s;
        }
        #shapes:hover{
            cursor: pointer;
            color: black;
            transition: 0.3s;
        }
    }
}

.home2{
    padding: 100px 170px;
    height: 48vw;
    background-color: rgb(232, 244, 254);

    #badge2{
        font-size: small;
        font-weight: 600;
        text-transform: uppercase;
        color: rgb(46, 46, 247);
        background-color: rgba(124, 160, 251, 0.175);
        border: 0px solid black;
        border-radius: 20px;
        padding: 10px 20px;
    }
    .heading1{
        font-weight: 700;
        margin: 30px 0px 20px;
        
    }
    .discription{
        width: 600px;
        font-size: medium;
        color: rgb(107, 107, 107);
    }
    #services{
        margin-left: 1050px;
        border: 0px solid;
        font-weight: 700;
        padding: 10px;
        color: rgb(46, 46, 247);
        transition: 0.3s;
    }
    #services:hover{
        cursor: pointer;
        transform: translatex(-10px);
        transition: 0.3s;
    }
    .cards{
        display: flex;
        justify-content: space-between;
        margin: 30px 10px;

        .card{
            height: 320px;
            width: 300px;
            padding: 40px;
            border: 0px solid;
            border-radius: 15px;
            box-shadow: 0px 0px 10px -2px gainsboro;
            transition: 0.5s;

            #icon{
                text-align: center;
                font-size: x-large;
                height: 55px;
                width: 55px;
                padding: 10px;
                border-radius: 8px;
            }
            .heading{
                font-size: large;
                font-weight: 700;
                color: rgb(79, 79, 79);
                margin: 20px 0px 10px;
            }
            .detail{
                color: gray;
            }
            .learn{
                font-weight: 600;
                color:  rgb(46, 46, 247);
                transition: 0.5s;
            }
            .learn:hover{
                transform: translatex(5px);
                transition: 0.5s;
            }

            .card1{
                color: rgb(46, 46, 247);
                background-color: rgba(124, 160, 251, 0.175);
                
            }
            .card2{
                color: rgb(143, 46, 247);
                background-color: rgba(201, 161, 247, 0.175);
                
            }
            .card3{
                color: rgb(36, 161, 31);
                background-color: rgba(94, 232, 124, 0.175);
                
            }
            .card4{
                color: rgb(46, 46, 247);
                background-color: rgba(124, 160, 251, 0.175);
                
            }
        }
        .card:hover{
            transform: translateY(-10px);
            transition: 0.5s;
            box-shadow: 0px 10px 10px 0px rgba(172, 172, 172, 0.922);
        }
    }
}

.home3{
    padding: 120px;
    height: 84vh;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;

    .image{
        height: 500px;
        width: 630px;
        border-radius: 20px;
        margin-left: 80px;
    }
    #top-agency{
        display: flex;
        gap: 15px;
        position: relative;
        height: 70px;
        width: 220px;
        margin: -50px 50px;
        padding: 15px 20px;
        border: 0px solid;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 5px 10px 0px rgba(172, 172, 172, 0.639);
        #award{
            text-align: center;
            font-size: large;
            height: 40px;
            width: 40px;
            padding: 8px;
            border-radius: 8px;
            color: rgb(46, 46, 247);
            background-color: rgba(124, 160, 251, 0.175);
        }
        .agency{
            font-size: small;
            font-weight: 700;
        }
        .clutch{
            color: gray;
            font-size: small;
        }
    }
    .data{
        margin-left: 10px;
        padding-top: 50px ;
        #badge3{
            font-size: small;
            font-weight: 600;
            text-transform: uppercase;
            color: rgb(46, 46, 247);
            background-color: rgba(124, 160, 251, 0.175);
            border: 0px solid black;
            border-radius: 20px;
            padding: 10px 20px;
        }
        .heading2{
            font-weight: 700;
            margin: 30px 0px 20px;
            
        }
        .discription2{
            width: 600px;
            font-size: medium;
            color: rgb(107, 107, 107);
        }
    }
}

.home-partition2{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 80px;
    .bold{
        text-align: center;
        font-size: xx-large;
        font-weight: 900;
    }
    .light{
        text-align: center;
        font-size: small;
        color: gray;
    }
}

.footer{
    height: 55vh;
    background-color: rgb(13, 13, 70);
}