*{
    padding: 0px;
    margin: 0px;

    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}



body{
    background-color: aliceblue;
}

.header{
    background-color:rgba(240, 248, 255, 0.945);
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    align-items: center;
    padding-left: 140px;
    box-shadow: 0px 0px 10px 0px lightgrey;

    .logo{
        font-weight: 800;
        font-size: x-large;
        padding: 25px;
        #dot{
            color: rgb(69, 69, 253);
        }
    }

    .items{
        padding-left: 390px;
        display: flex;

        .menu-items{
            height: 40px;
            font-weight: 600;
            font-size: medium;
            color: rgb(160, 114, 100);
            margin: 2px;
            padding: 5px 15px;
            display: flex;
            align-items: center;
            border-radius: 8px;
        }
        .menu-items:hover{
            background-color: rgb(229, 234, 253);
            color: black;
            cursor: pointer;
        }

        #home{
            background-color: rgb(229, 234, 253);
            color: black;
        }
        #get-start{
            color: white;
            background-color: rgb(73, 76, 255);
        }
        #get-start:hover{
            transform: translatey(-3px);
            transition: 0.3s;
            box-shadow: 0px 0px 10px 0px rgba(139, 141, 246, 0.849);;
        }
    }
}

.home1{
    padding: 90px 0px 0px 0px;
    height: 86vh;
    background-color: rgb(234, 237, 252);
    display: flex;
    

    .home-left{
        width: 590px;
        margin: 30px 0px 100px 160px;
        padding: 10px;

        .tag-line{
            padding: 20px 15px;
            text-transform: uppercase;
            font-size: smaller;
            font-weight: 700;
            color: rgb(58, 58, 255);
        }

        #digital-product{
            color: rgb(69, 69, 253);
        }
        .para{
            padding: 25px 0px 20px 0px;
            color: rgb(87, 87, 87);
            font-size: larger;
        }
        .btn{
            padding: 0px;
            display: flex;
            gap: 15px;
            #start{
                background-color: rgb(73, 76, 255);
                border: 0px solid #000;
                border-radius: 10px;
                font-size: medium;
                font-weight: 600;
                color: white;
                width: 215px;
                height: 60px;
            }
            #start:hover{
                transform: translatey(-3px);
                transition: 0.3s;
                box-shadow: 0px 5px 5px 0px  rgba(120, 122, 255, 0.881);
            }
            #explore{
                background-color: white;
                border: 1.5px solid rgb(229, 229, 229);
                border-radius: 10px;
                font-size: medium;
                font-weight: 600;
                width: 215px;
                height: 60px;
            }
            #explore:hover{
                transform: translatey(-3px);
                transition: 0.3s;
                box-shadow: 0px 5px 5px 0px  rgba(194, 194, 194, 0.881);
            }
        }
        
    }
    #review{
        display: flex;
        gap: 20px;
    
        #written{
            margin: 20px 5px;
        }
        #rating{
            font-size: small;
            font-weight: 500;
            color: black;
        }
        #client-review{
            font-size: small;
            color: gray;
        }
    }

    .home-right{
        display: flex;
        align-items: center; 
        width: 600px;
        border: 0px solid black;
        margin: 100px;
        padding: 10px;
    }
    #top{
        border: 1px solid red;
    }
    #big-center{
        height: 350px;
        width: 450px;
        display: flex;
        position: relative;
        margin: 40px;   
        padding: 20px;
        background-color: white;
        border: 0px solid;
        border-radius: 20px;
        box-shadow: 0px 0px 40px 0px rgba(208, 208, 208, 0.921);
        
        #live{
            height: 30px;
            width: 50px;
            text-align: center;
            margin-left: 360px;
            color: rgb(46, 46, 247);
            font-size: small;
            font-weight: 500;
            background-color: rgba(124, 160, 251, 0.175);
            border: 0px solid black;
            border-radius: 20px;
            padding: 5px;
        }
        #progress-bar1{
            height: 10px;
            width: 60px;
            border: 1px solid black;
            background-color:  rgba(124, 160, 251, 0.175);;
        margin-bottom: 10px;
        }
    }
    #big-center:hover{
        transform: translatey(-5px);
        transition: 0.4s;
        box-shadow: 0px 5px 50px 0px  rgba(194, 194, 194, 0.881);
    }
    #bottom{
        border: 1px solid purple;
    }
}

.home-partition1{
    height: 100px;

    .partition1-heading{
        color: rgb(126, 126, 126);
        text-align: center;
        text-transform: uppercase;
        font-size: medium;
        font-weight: 600;
        margin: 25px;
    }
    #products{
        display: flex;
        justify-content: space-evenly;
        color: rgb(184, 184, 184);
        font-size: larger;
        font-weight: 800;
        margin: 0px 180px;

        #shapes{
            height: 35px;
            width: 170px;
        }
        #shapes:hover{
            cursor: pointer;
            color: black;
        }
    }
}

.footer{
    height: 55vh;
    background-color: rgb(13, 13, 70);
}